.container{
    padding: 13rem 0 22.5625rem;
    position: relative;
}

.heading{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 5.5625rem;

    /* or 124% */
    text-align: center;

    color: #FFFFFF;
}

@media screen and (max-width: 480px){
    .heading{
        font-size: 3rem;
        margin-top: 30px;
    }
    .container p{
        line-height: normal;
    }
}