.container{
    padding-top: 90px;
    position: relative;
}

.innerContainer{
    padding-top: 130px;
    padding-bottom: 100px;
}

.heading{
    font-weight: 700;
    font-size: 3rem;
    line-height: 63px;
    color: #000000;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.subheading{
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 38px;
    color: #000000;
    width: fit-content;
    margin: auto;
    margin-bottom: 78px;
}

.stretchBetween{
    width: 1600px;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.hover{
    padding: 15px;
    background-image: none;
    transition: all 0.5s linear;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-bottom: 60px;
}
.hover:hover{
    background-image: linear-gradient(to bottom, #7785ff, #fd2f31);
}

.box{

    width: 710px;
    padding: 62px 5px 5px;
    min-height: 970px;
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    position: relative;
}

.boxHeading{
    position: relative;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 45px;
    width: fit-content;
    margin: auto;
    margin-bottom: 34px;

    color: #000000;
}

.boxSubheading{
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    text-align: center;
    width: 584px;
    margin: auto;
    color: #565353;
    margin-bottom: 60px;
}

.read{
    font-weight: 500;
    font-size: 2rem;
    line-height: 40px;
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #018DFE 37.43%, #2F5FCF 98.63%);
    box-shadow: -2px 45px 37px -7px rgba(112, 118, 122, 0.19);
    border-radius: 90px;
    padding: 22px 40px;
}

.mobile{
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 63px;

    color: #3842F8;
    margin-left: 20px;

}

.sure{
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 63px;

    color: #000000;

    margin-bottom: 40px;


}

.gray{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 63px;
    color: #8B8B8B;


}

@media screen and (max-width: 480px){
    .heading{
        line-height: 30px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .box{
        width: fit-content !important;
        /* margin: auto; */
        min-height: unset;
    }
    .stretchBetween{
        width: fit-content !important;
        margin: 0;
    }
    .anon{
        width: -webkit-fill-available !important;
        /* margin: auto !important; */
    }
    .read{
        margin-bottom: 100px;
        padding: 10px 20px;
    }
    .hover{
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 25px;
    }
    .container p{
        line-height: normal;
    }
    /* .cen{
        justify-content: center;
    } */
}