.container{
    padding: 4.375rem 0px 10.625rem;
    position: relative;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    color: #000103;
    margin-bottom: 2.5rem;
    text-align: center;
    line-height: 89px;
}

.desc{
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-bottom: 4.375rem;
    text-align: center;
    color: #000103;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

