.container{
    padding: 200px 0 166px;
    color: black;

    position: relative;
}

.innerContainer{
    width: 48.3%;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;
    margin-bottom: 50px;
}

.text{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 27px;

    /* or 135% */
    letter-spacing: 0.02em;
}

@media screen and (max-width: 480px){
    .innerContainer{
        width: fit-content;
    }
    .container{
        padding: 50px 0 41.5px;
    }
    .heading{
        margin-bottom: 10px;
    }
}