.container{
    padding: 111px 0 81px;
    position: relative;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;
    margin-bottom: 151px;
    /* identical to box height, or 171% */

    color: #000103;
    text-align: center;
}

@media screen and (max-width: 480px){
    .heading{
        line-height: 30px;
        font-size: 20px;
    }
    /* .imCon{
        width: 150px;
    } */
}