.container{
    padding: 190px 0 154px;
    color: white;
    position: relative;
}

.subtext{
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 50px;

    color: #808080;
    margin-bottom: 44px;
}

.text{
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 50px;
    width: 700px;
}

@keyframes rocket {
    0%   {transform: translate(0, 0);}
    50%  {transform: translate(-20px, 20px);}
    100% {transform: translate(0, 0);}
}

.rocket{
    animation-name: rocket;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
