.container{
    height: 100%;
    background: #171719;
    border-radius: 15px;
    padding: 1.3125rem 1.5rem;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.heading{
    font-weight: 700;
    font-size: 1.875rem;
    color: #018DFE;
    margin: 1.125rem 0 2.3125rem;
}

.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: white;
}