.container{
    
}

.smallHeading{
    font-weight: 800;
    font-size: 3.25rem;
    color: white;
    margin-bottom: 8.75rem;
    text-align: center;
}

.largeHeading{
    font-weight: 700;
    font-size: 5.3125rem;
    color: white;
    text-align: center;
    margin-bottom: 1.25rem;
}