.container{
    
}

.smallHeading{
    font-weight: 800;
    font-size: 3.25rem;
    color: white;
    margin-bottom: 3.75rem;
    text-align: center;
    line-height: 89px;
    /* font-family: 'Eudoxus Sans'; */
}

.largeHeading{
    font-weight: 500;
    font-size: 5.3125rem;
    color: white;
    text-align: center;
    margin-bottom: 1.25rem;
    white-space: nowrap;
    line-height: 110px;
    /* font-family: 'Eudoxus Sans'; */
}

@media screen and (max-width: 480px){
    .smallHeading{
        margin-top: 60px !important;
        line-height: 10px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .largeHeading{
        font-size: 20px;

    }
}