.container{
    padding: 84px 63px 88px;
    color: black;
    position: relative;
}

.subtext{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;

    color: #818182;

    margin-bottom: 12px;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;
    margin-bottom: 29px;
}

.centerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 170px;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.text{
    font-weight: 400;
    font-size: 1.375rem;;
    line-height: 36px;
    margin-top: 30px;
    width: 338px;
}


.bottomContainer{
    width: 689px;
    margin: auto;
    position: relative;
}

.bottomText{
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 36px;
    margin-bottom: 18px;
}

.by{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 36px;

    color: #818182;


}

@keyframes rocket {
    0%   {transform: translate(0, 0);}
    50%  {transform: translate(-20px, -20px);}
    100% {transform: translate(0, 0);}
}

.rocket{
    animation-name: rocket;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 480px) {
    .cen{
        margin: auto !important;
        width: fit-content;
    }
    .container{
        padding: 42px 31.5px 44px;
    }
    .nopad{
        padding-top: 10px !important;
    }
    .st{
        top: 80px !important;
        left: 90px !important;
        width: 100px !important;
        height: 60.5px !important;
    }
    .bottomContainer{
        width: fit-content;
    }
}
