.container{
    padding: 120px 0 200px;
}

.heading{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 32px;
    color: #313643;
    margin: auto;
    width: fit-content;
    margin-bottom: 100px;

}

.centerCenter{
    display: flex;
    align-items: center;
    justify-content: center;

}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .heading{
        margin-bottom: 20px;
    }
}