.container{
    padding: 102px 0 260px;
    position: relative;
}

.heading{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 89px;
    color: black;
    margin: auto;
    margin-bottom: 23px;
    width: fit-content;
}

.subheading{
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 50px;
    color: #000000;
    opacity: 0.5;
    width: fit-content;
    margin: auto;
    margin-bottom: 144px;
}

.box{
    background: linear-gradient(90deg, #018DFE 37.43%, #2F5FCF 98.63%);
    box-shadow: -2px 45px 37px -7px rgba(112, 118, 122, 0.19);
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    position: relative;
}

.whiteBox, .whiteHiddenBox{
    background: #FFFFFF;
    /* box-shadow: 0px 19px 28px 16px rgba(0, 0, 0, 0.15); */
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;

}

.whiteHiddenBox{
    display: none;
}

.whiteText{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;

    color: #FEFEFE;
    border-bottom: 5px solid white;
}

@media screen and (max-width: 480px){
    .container{
        padding: 17px 0 43.333333333333336px;
    }
    .container > div {
        padding: 20px 20px !important;
        width: -webkit-fill-available;
        margin-bottom: 150px !important;
    }
    .container > div > div{
        width: fit-content;
        /* margin: auto; */
        /* margin-top: 2px;
        margin-bottom: 2px; */
    }
    .container > div > div > p{
        /* padding-bottom: 2px !important; */
        margin: auto !important;
    }
    .heading{
        font-size: 30px;
        line-height: 20px;
    }
    .subheading{
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .whiteBox, .whiteHiddenBox{
        /* margin: auto; */
        margin-right: 20px;
        /* margin-left: 20px; */
    }
    .box  p{
        line-height: normal;
        padding-bottom: 10px !important;
        /* margin-left: 40px !important; */
    }
    .box{
        justify-content: center;
        box-shadow: none;
    }
    .whiteHiddenBox{
        display: flex;
    }
}


@media screen and (max-width: 380px){
    .box{
        justify-content: center;
    }
    .whiteBox, .whiteHiddenBox{
        margin-bottom: 10px !important;
    }
}