.container{
    padding: 82px 0 138px;
    position: relative;
}

.innerContainer{
    background: rgba(82, 82, 82, 0.13);
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    width: 100%;

    padding: 59px 0 64px;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;

    /* or 140% */
    text-align: center;
    letter-spacing: 0.07em;

    width: 78.6%;

    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px){
    .container{
        padding: 27.333333333333332px 0 46px;
    }
    .innerContainer{
        padding: 29.5px 0 32px;
    }
    .heading{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 13px;
    }
}