.container{
    padding: 94px 0 128px;
    color: white;
}

.heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    white-space: nowrap;
}

.text{
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
}


.innerContainer{
    background: rgba(152, 185, 255, 0.13);
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    min-height: 160px;
    margin-bottom: 30px;
    padding: 30px;
}
