.container{
    padding: 90px 0 233px;
    position: relative;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 5,5625rem;
    margin-bottom: 32px;

    /* identical to box height, or 171% */

    color: #FFFFFF;
    text-align: center;


}

.text{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;

    /* identical to box height, or 150% */
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 38px;
    text-align: center;
}

