.container{
    background: rgba(152, 185, 255, 0.13);
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* padding-top: 8px;
    padding-bottom: 15px; */
}

.innerContainer{
    width: 73.75%;
}

.leftContainer{

}

.leftRightContainer{
    margin-left: 3.6rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLabelContainer{
    margin-top: 16px;
    margin-right: 1.5625rem;
    position: relative;
    cursor: pointer;
    height: 70px;
    white-space: nowrap;
}

.navLabels{
    font-weight: 700;
    font-size: 1.125rem;
    margin-right: 0.3125rem;
    /* margin-top: 37px;
    margin-bottom: 33px; */
}

.chip{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    padding: 1.125rem 2.625rem;
    margin-top: 18px;
    margin-bottom: 15px;
    cursor: pointer
}

.chipLabel{
    font-weight: 500;
    font-size: 1.125rem;
}

.dropdownContainer{
    padding: 0;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: -20px;
    min-width: 100%;
    background-color: #141821;
    transition: all 0.2s linear;
    overflow: hidden;
}

.navLabelContainer:hover .dropdownContainer{
    padding: 10px 20px;
}

.dropdownContainer:hover{
    padding: 10px 20px;
}

.dropdownContainer .navLabels{
    margin-bottom: 5px;
}

.dropContainer .line{
    width: 0;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    transition: all 0.2s linear;
}

.dropContainer:hover .line{
    width: 30%;
}

.one{
    height: 0px;
}

.two{
    height: 0px;
}
.three{
    height: 0px;
}
.four{
    height: 0px;
}
.five{
    height: 0px;
}


.navLabelContainer:hover .dropdownContainer.one{
    padding: 10px 20px;
    height: 42px;
}

.one.dropdownContainer:hover{
    padding: 10px 20px;
    height: 42px;
}

.navLabelContainer:hover .dropdownContainer.two{
    padding: 10px 20px;
    height: 84px;
}

.two.dropdownContainer:hover{
    padding: 10px 20px;
    height: 84px;
}

.navLabelContainer:hover .dropdownContainer.three{
    padding: 10px 20px;
    height: 126px;
}

.three.dropdownContainer:hover{
    padding: 10px 20px;
    height: 126px;
}

.navLabelContainer:hover .dropdownContainer.four{
    padding: 10px 20px;
    height: 168px;
}

.four.dropdownContainer:hover{
    padding: 10px 20px;
    height: 168px;
}

.navLabelContainer:hover .dropdownContainer.five{
    padding: 10px 20px;
    height: 210px;
}

.five.dropdownContainer:hover{
    padding: 10px 20px;
    height: 210px;
}
.mobMenuContainer{
    display: none;
    transition: all 0.3s linear;
}

@media screen and (max-width: 480px){
    .innerContainer{
        width: 90%;
    }
    .mobMenuContainer{
        display: flex;
        position: fixed;
        top: 0;
        /* left: 100vw; */
        width: 100vw;
        height: 100vh;
        background-color: #141821;
        z-index: 100;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .mobMenuContainer > div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    .cross{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
        width: fit-content !important;
    }
    .dropContainer{
        margin-bottom: 30px;
    }
}