.container{
    padding: 84px 0 133px;
    color: white;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;
    margin: auto;
    margin-bottom: 131px;
    width: fit-content;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.innerContainer{
    width: 45%;
    text-align: right;
}

.blueHeading{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 38px;
    color: #018DFE;
    margin-bottom: 56px;
}

.text{
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 36px;
}

.lastContainer{
    margin-top: 124px;
    text-align: right;
}

@media screen and (max-width: 480px){
    .heading{
        line-height: 20px;
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
    .innerContainer{
        width: fit-content;   
        margin-bottom: 50px;
    }
    .blueHeading{
        line-height: 10px;
        margin-bottom: 10px;
    }
    .text{
        text-align: left;
    }
}