.container{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 1.875rem 2.83rem 6.0625rem 1.875rem;
    margin-bottom: 2.5rem;
}

.heading{
    font-weight: 700;
    font-size: 1.875rem;
    color: #018DFE;
    margin-bottom: 2.5rem;
    text-align: center;
}

.desc{
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #000103;
}