.container{
    padding-top: 100px;
}

.topHeading{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;

    color: #818182;
    margin-bottom: 16px;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 89px;
    color: #010204;
    margin-bottom: 170px;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 120px;
}

.single{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 33.3%;
}

.text{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 38px;

    /* identical to box height */

    color: #000000;
    margin-top: 30px;
}

.button{
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 32px;

    /* identical to box height, or 128% */

    color: #007AFF;
    padding: 20px 25px;
    border: 1px solid #007AFF;
    border-radius: 10px;
    margin-left: 40px;
    cursor: pointer;

}

@media screen and (max-width: 480px){
    .button{
        padding: 10px;
        margin: auto;
        margin-top: 20px;
    }
    .container{
        padding-top: 20px;
    }
    .stretchBetween{
        padding-bottom: 20px;
    }
    .topHeading{
        margin-bottom: 0px;
        line-height: 10px;
    }
    .heading{
        margin-bottom: 30px;
        line-height: 40px;
    }
    .single{
        width: fit-content;
        margin-bottom: 30px;
    }
    .stretchBetween{
        width: 150px;
        margin: auto;
    }
    .text{
        margin-top: 5px;
    }
}

