.container{
    padding: 141px 0 135px;
    color: black;
}

.heading{
    font-weight: 800;
    font-size: 2.625rem;
    line-height: 63px;
    margin: auto;
    margin-bottom: 80px;
    width: fit-content;
    text-align: center;
}

.box{
    width: 540px;
}

.number{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 63px;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 55px;
    text-align: center;
}

.subheading{
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 28px;
    margin: auto;
    width: fit-content;
    margin-bottom: 40px;
}

.text{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 48px;
    text-align: center;

}

.centerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 70%;
}

@media screen and (max-width: 480px) {
    .heading, .text{
        line-height: normal;
        /* font-size: 16px; */
    }
}