.container{
    padding: 67px 0 88px;
    color: white;
}

.heading{
    font-weight: 800;
    font-size: 2.625rem;
    line-height: 63px;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}

.subheading{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 25px;
    width: fit-content;
    margin: auto;
    margin-bottom: 60px;
}

.centerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 85%;
}

.box{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 50px 24px;
    padding-top: 10px;
    color: black;
    width: 472px;
    min-height: 554px;
}

.boxHeading{
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.boxText{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
}

.view{
    font-weight: 400;
    font-size: 1.375rem;;
    line-height: 30px;
    padding: 7px 35px;
    border: 1px solid black;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

@media screen and (max-width: 480px) {
    .boxText{
        line-height: normal;
    }
    .box{
        min-height: unset;
    }
    .view{
        margin-top: 20px;
        padding: 5px 20px;
    }
}