.container{
    padding-bottom: 55px;
    position: relative;
}

.title{
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 89px;

    /* identical to box height, or 171% */

    color: #000103;
    text-align: center;
    margin-bottom: 34px;
}

.text{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 45px;

    /* or 188% */
    text-align: center;
    letter-spacing: 0.02em;

    color: #4B4B4B;
    width: 1463px;
    margin: auto;
}

@media screen and (max-width: 480px){
    .container{
        padding-bottom: 27.5px;
    }
    .title{
        line-height: 30px;
        margin-bottom: 10px;
    }
}