.container{
    padding: 150px 64px 170px;
    color: white;
    position: relative;
}

.subheading{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;
    margin-bottom: 12px;
}

.heading{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 89px;
    margin-bottom: 48px;
}

.startBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.subtext{
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 30px;
    padding-bottom: 20px;
    width: 310px;
    margin-bottom: 74px;
    border-bottom: 2px solid white;
}

.box{
    background: rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 0 26px 35px;
    width: 310px;
}

.boxText{
    margin-top: 22px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;
}

.button{
    padding: 8px 42px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
}