.container{
    padding: 57px 0 80px;
}

.stretchBetween{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
}

.heading{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 38px;
    color: #018DFE;
    margin-bottom: 56px;
}

.innerContainer{
    width: 47%;
}

.text{
    font-weight: 400;
    font-size: 1.375rem;;
    line-height: 36px;
    color: #000000;
}


@media screen and (max-width: 480px){
    .innerContainer{
        width: fit-content;
        margin-bottom: 30px;
    }
    .heading{
        margin-bottom: 10px;
    }
}