.container{
    padding: 78px 0 182px;
    color: white;
    position: relative;
}

.heading{
    font-weight: 700;
    font-size: 2.8125rem;
    line-height: 57px;
    margin: auto;
    margin-bottom: 166px;
    width: fit-content;
}

.text{
    font-weight: 700;
    font-size: 4rem;
    line-height: 96px;
    /* width: 345px; */
    /* margin-right: 108px; */
    margin-bottom: 20px;
}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 70%;
}

.subtext{
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 39px;
    color: #AEABAB;
}

.centerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px){
    .heading{
        line-height: 30px;
        margin-bottom: 5px;
    }
}