.container{
    color: white;
    padding: 188px 0 316px;
    position: relative;

}

.heading{
    font-weight: 800;
    font-size: 72px;
    line-height: 89px;
    margin-bottom: 47px;
    width: 800px;
}


.text{
    width: 800px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}