.container{
    color: white;
    padding: 188px 0 316px;
    position: relative;

}

.heading{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 89px;
    margin-bottom: 47px;
    width: 800px;
}


.text{
    width: 800px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
}
@media screen and (max-width: 480px) {
    .container{
        padding: 47px 0 79px;
    }
    .heading{
        line-height: normal;
    }
}
