.container{
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.leftContainer{
    padding-top: 5px;
    padding-left: 21px;
    width: 50%;
}

.heading{
    font-weight: 800;
    font-size: 2.5625rem;
    line-height: 5.5625rem;
}

.text{
    font-weight: 500;
    font-size: 1.4375rem;
    line-height: 2.25rem;
    margin-bottom: 1.6875rem;
}

.btn{
    font-weight: 700;
    font-size: 1.4375rem;
    line-height: 1.8125rem;

    /* identical to box height */

    color: #FFFFFF;

    padding: 1rem 2.125rem;
    background: #377DFF;
    border-radius: 90px;
    width: fit-content;
}

.endBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date{
    font-weight: 500;
    font-size: 1.5rem;
    color: #377DFF
}

.rightContainer{
    border: 15px solid #377DFF;
    /* overflow: hidden; */
    border-radius: 20px;
}

.rightInnerContainer{
    border-radius: 20px;
}

@media screen and (max-width: 480px){
    .btn{
        margin-bottom: 10px;
    }
    .heading{
        line-height: 25px;
        margin-bottom: 10px;
    }
    .leftContainer{
        width: fit-content;
    }
}