.container{
    padding: 146px 0 250px;
    position: relative;
}

.title{
    font-weight: 500;
    font-size: 4rem;
    line-height: 81px;

    /* identical to box height */

    color: #000000;
    margin-bottom: 47px;
}

.text{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 232.6%;

    /* or 56px */

    color: #565656;

    width: 640px;
}

@media screen and (max-width: 480px){
    .container{
        padding: 73px 0 125px;
    }
    .title{
        margin-bottom: 20px;
    }
    .imCon{
        position: relative !important;
        top: 0 !important;
    }
}