.container{
    padding: 0 0 280px;
    position: relative;
}

.title{
    font-weight: 500;
    font-size: 4rem;
    line-height: 81px;

    /* identical to box height */
    text-align: right;

    color: #000000;
    margin-bottom: 42px;
}

.text{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 45px;

    /* or 188% */
    letter-spacing: 0.02em;

    color: #4B4B4B;
    width: 798px;
}


@media screen and (max-width: 480px){
    .container{
        padding: 0 0 140px;
    }
    .imCon{
        position: relative !important;
        top: 0 !important;
    }
    .title{
        margin-bottom: 20px;
    }
}