.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    color: white;
    position: relative;
}

.imageContainer{
    width: 50%;
}
.textContainer{
    position: relative;
    width: 50%;
}

.heading{
    font-weight: 800;
    font-size: 3.125rem;
    line-height: 69px;
    margin-bottom: 33px;
    /* identical to box height, or 138% */
}

.text{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;
}

@media screen and (max-width: 480px){
    .textContainer{
        width: fit-content;
    }
    .heading{
        margin-bottom: 0px;
        line-height: 40px;
    }
    .tCon{
        padding: 0 !important;
        margin-bottom: 30px;
    }
    .immmCon{
        padding: 0 !important;
        width: fit-content !important;
        margin: auto !important;
    }
    .imageContainer{
        width: fit-content;
    }
}