.container{
    padding-bottom: 4.8125rem;
    color: black;
    padding-top: 31.25rem;
}

.heading{
    font-weight: 800;
    font-size: 3.25rem;
    margin-bottom: 2.5rem;
    line-height: 89px;
}

.textContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.text{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5625rem;
}

.buttonContainer{
    border: 1px solid #007AFF;
    border-radius: 10px;
    margin-top: 10rem;
    padding: 1.125rem;
    width: fit-content;
    cursor: pointer;
}

.button{
    font-weight: 800;
    font-size: 1.5625rem;
    color: #007AFF;
}

.center{
    display: flex;
    justify-content: center;
}