.advantages{
    /* background-image: url('./digital_advantages_back.png'); */
    background-size: cover;
}

.container{
    padding-top: 90px;
}

@media screen and (max-width: 480px) {
    .container{
        padding-top: 56px;
    }
}