html,
body {
  /* width: 1920px; */
  /* overflow-x: hidden; */
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body{
  /* -moz-transform: scale(0.67); */
  /* zoom: calc(100vw / 1920px); */
  /* width: 1920px; */
  /* transform: scale(0.67); */
}

@-moz-document url-prefix() {
  body {
    width: 1920px;
  }
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



.show_in_mobile{
  display: none;
}



@media screen and (max-width: 480px) {
  * {
    flex-wrap: wrap !important;
  }

  .hide_in_mobile{
    display: none !important;
  }
  p{
    width: fit-content !important;
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* line-height: normal !important; */
    /* margin-bottom: 10px; */
  }
  .show_in_mobile{
    display: block;
  }
  .swiper-wrapper{
    flex-wrap: nowrap !important;
  }
}


