html,
body {
  /* width: 1920px; */
  /* overflow-x: hidden; */
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body{
  /* -moz-transform: scale(0.67); */
  /* zoom: calc(100vw / 1920px); */
  /* width: 1920px; */
  /* transform: scale(0.67); */
}

@-moz-document url-prefix() {
  body {
    width: 1920px;
  }
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



.show_in_mobile{
  display: none;
}



@media screen and (max-width: 480px) {
  * {
    flex-wrap: wrap !important;
  }

  .hide_in_mobile{
    display: none !important;
  }
  p{
    width: fit-content !important;
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* line-height: normal !important; */
    /* margin-bottom: 10px; */
  }
  .show_in_mobile{
    display: block;
  }
  .swiper-wrapper{
    flex-wrap: nowrap !important;
  }
}





/* table */

table.boostrap4_dark_striped {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #212529;
  text-align: left;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

table.boostrap4_dark_striped thead th {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: inherit;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table.boostrap4_dark_striped td {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(255, 255, 255, .08);
}

table.boostrap4_dark_striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, .05);
}














/* ----------- Non table related styles */

.table_container {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}


.grecaptcha-badge{
  overflow: visible !important;
  bottom: 130px !important;
  z-index: 40 !important;
}



.grecaptcha-logo iframe{
  height: auto !important;
}

@media screen and (max-width: 480px) {
  .grecaptcha-logo iframe{
    height: 60px !important;
  } 
}