.container{
    padding: 50px 0 70px;
    position: relative;
    color: black;
}

.subtext{
    width: fit-content;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 153px;

}

.stretchBetween{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 110px;
}

.text{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 23px;
    color: #000000;
    width: 605px;
    margin: auto;
}

.image{
    padding: 20px;
    background-image: none;
    transition: all 0.5s linear;
    border-radius: 40px;
    width: 767px;
    height: 734px;
    cursor: pointer;
    /* position: relative; */
}


.image:hover{
    background-image: linear-gradient(to bottom, #7785ff, #fd2f31);
    /* width: 10px; */
}
