.container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.image{
    margin-right: 60px;
}

.desc{
    width: 73.5%;
}

.subheading{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 38px;

    /* identical to box height */

    color: white;
    margin-bottom: 50px;
}

.subtext{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
    
    /* or 150% */
    letter-spacing: 0.02em;
    
    color: white;   
}

@media screen and (max-width: 480px){
    .container{
        padding-left: 0 !important;
    }
    .image{
        width: 100px;
        margin: auto;
    }
    .desc{
        width: 100% !important;
        margin-bottom: 50px;
    }
    .subheading{
        margin: auto;
        margin-bottom: 10px;
        line-height: 20px;
    }
    .subtext{
        line-height: 15px;
    }
}